# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
node_modules
node_modules
node_modules

# Ignore all zip files
*.zip

# Ignore everything in the 'myenv' folder
myenv/

# Ignore DLLs anywhere
*.dll
